html {
  background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
	font-family: Lobster;
	color: white;
}

header {
	font-size: 6rem;
	text-align: center;
}

#readme {
	font-size: 2rem;
	color: orange;
	text-align: center;
}

.keys {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.key {
	color: black;
	font-size: 3rem;
	background: rgba(255,255,255,0.7);
	border: 0.5rem solid gray;
	box-shadow: 0rem 3rem #333;
	text-align: center;
	width: 12rem;
	border-radius: 50%;
	-webkit-transition: all, all, -webkit-transform 0.07s;
	transition: all, all, -webkit-transform 0.07s;
	transition: all, all, transform 0.07s;
	transition: all, all, transform 0.07s, -webkit-transform 0.07s;
	padding: 2.5rem;
	margin: 4rem 2rem;
	cursor: pointer;
}

.playing {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
	border: 0.5rem groove #ffd200;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
